@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
html, body, h1, h2, h3, p, nav, ul, li, a, .uk-navbar-nav>li>a, .uk-navbar-item {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 750px) {
    .uk-navbar-nav {
        display: none !important;
    }
    .uk-navbar-container:not(.uk-navbar-transparent) {
        border-bottom: solid 1px rgba(0, 0, 0, 0.08);
    }
}

@media screen and (min-width: 750px) {
    .uk-navbar-toggle {
        display: none !important;
        overflow: hidden;
    }
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #ffffff;
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
    height: 64px;
}

.uk-navbar-nav>li>a, .uk-navbar-toggle {
    height: 61px;
}

.uk-navbar-item {
    height: 64px;
  }


.logo {
    height: 350px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.08);
}

.logo-img {
    padding-top: 50px;
}

.beta {
    margin-right: 20px;
    border-radius: 3px;
    margin-left: 10px;
    padding: 0 26px;
}

.feats {
    margin-bottom: 50px;
    margin-top: 30px;
}

.headline {
    margin-bottom: 30px;
}

footer {
    border-top: solid 1px rgba(0, 0, 0, 0.08);
    padding-bottom: 10px;
}

.footer-space {
    padding-top: 15px;
}

.red {
    color: #ff4545;
}

.bg-hover {
    background-color: rgba(63, 81, 181, 0.07);
    border-bottom: 2px solid #1e87f0;
}

.li-hover:hover {
    background-color: rgba(63, 81, 181, 0.07);
    border-bottom: 2px solid #1e87f0;
}
